@using Microsoft.Extensions.Configuration
@using System.Collections.Specialized
@using MongoDB.Bson
@model IEnumerable<IConfigurationSection>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Configuration</h1>
    <table>
    @foreach (var sec in Model)
    {
        <tr>
            <td>@sec.Key</td>
            <td>@sec.Value</td>
        </tr>
    }
    </table>
</div>
